.destination-back {
    margin-top: 4px;
    height: 370px;
    background-image: url('../../../assets/destination.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}


.destination-title {
    text-align: left;
    padding: 30px 15%;
}

.destination-title h1 {
    font-size: 50px;
}

.destination-title h5 {
    font-size: 23px;
    font-weight: 500;
}

.destination-title p {
    font-size: 17px;
}

.destination-explore-all {
    margin: 0 70px 120px;
}


.destination-explore {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.destination-explore-u {
    width: 100%;
}

.destination-explore-u img {
    height: 80%;
    width: 100%;
}

.destination-explore-u h4 {
    text-align: left;
    font-size: 23px;
    margin: 0;
}

.destination-explore-u a {
    display: flex;
    color: rgb(219, 88, 36);
    font-size: 18px;
    /* float: left; */
    text-decoration: underline;
    text-underline-offset: 5px;
}

.destination-explore-u a:hover {
    color: rgb(163, 64, 25);
    transition: 0.3s;
}