.help-book {
  text-align: left;
  margin: 70px 7%;
}

.help-book h1 {
  font-size: 26px;
  margin-bottom: 32px;
}

.help-book img {
  width: 50px;
}


.help-book h3 {
  font-size: 23px;
  margin: 0;
  margin-top: 10px;
}

.help-book p {
  margin: 0;
  margin-top: 10px;
}

.help-book a {
  color: rgb(219, 88, 36);
  font-size: 18px;
  /* float: left; */
  text-decoration: underline;
  text-underline-offset: 5px;
}

.help-book a:hover {
  color: rgb(163, 64, 25);
  transition: 0.3s;
}


.help {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 50px;
}

.book {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.book div {
  margin-right: 40px;
}

.signature {
  color: grey;
  font-size: 12px;
  margin: 0 7%;
  display: flex;
}

@media (max-width: 1200px) and (min-width:1025px){
  .help div {
    margin: auto 10px;
  }

  .signature {
    font-size: 18px;
  }
}

@media (max-width: 1024px) and (min-width:769px){
  .help-book {
    font-size: 15px;
  }

  .help-book h1 {
    font-size: 23px;
  }

  .help-book h3{
    font-size: 21px;
  }

  .help {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 50px;
  }

  .help div {
    margin-top: 30px;
    margin-right: 20px;
  }
  
  .book {
    display: grid;
    grid-template-columns: auto auto;
  }

  .book div {
    margin-top: 30px;
  }

  .signature {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .help-book {
    font-size: 25px;
  }

  .help-book h1 {
    font-size: 35px;
  }

  .help-book img {
    width: 60px;
  }

  .help-book h3{
    font-size: 30px;
  }

  .help-book img {
    width: 50px;
  }

  .help {
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 50px;
  }

  .help div {
    margin-top: 30px;
  }

  .help a {
    font-size: 25px;
  }
  
  .book {
    display: grid;
    grid-template-columns: auto;
  }

  .book div {
    margin-top: 30px;
  }

  .book a {
    font-size: 25px;
  }

  .signature {
    font-size: 18px;
  }
}