.container {
display: grid;
grid-template-columns: minmax(0, 1fr);
grid-template-rows: auto auto auto auto auto auto;
}

a {
text-decoration: none;
color: white;
}

ul {
padding: 0;
list-style-type: none;
}

li {
padding: 0 5px;
}


@media (max-width: 1024px) and (min-width:769px){}

@media (max-width: 768px) {
.container {
    overflow-x: hidden;
}

.astronaut {
    display: none;
}
}