.signin {
    display: grid;
    grid-template-columns: 60% 40%;
    background-size: cover;
    background-color: black ;
}

.signin-right {
    background: url("../../assets/signin.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 16vw;    
}

.signin-left {
    padding: 40px 0 0 0;
    padding-left: 80px;
    text-align: left;
}

.signin-logo {
    display: flex;
}

.signin-airspan {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
    color: white;
    padding-top: 20px;
    /* margin: auto 0; */
}

.signin-airlogo {
    margin-left: 10px;
    height: 50px;
    width: 50px;
}


.signin-content {
    color: white;
    padding-top: 60px;
}

.signin-content h1 {
    margin-top: 0;
    font-size: 42px;
}

.signin-content p {
    font-size: 15px;
}

.signin-inputs-u {
    margin: 20px 0;
}

.signin-inputs-p {
    margin: 5px 0;
}

.signin-inputs-p p{
    margin: 0;
    font-weight: bold;
}

.signin-inputs-p i{
    margin: auto 0;
    color: rgb(219, 88, 36);
}

.signin-inputs-in {
    width: 270px;
    background-color: transparent;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid white;
    padding: 11px;
}

.signin-inputs-in:focus-within{
    outline: 1px solid rgb(219, 88, 36);
    border: 1px solid transparent;
}

/* CHECKBOX */
.signin-check {
    margin: auto;
    font-size: 18px;
    position: relative;
    display: inline-block;
}

.signin-check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signin-check-container i {
    color: rgb(219, 88, 36);
}

.signin-check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.signin-check-checkmark {
    position: absolute;
    top: 0;
    margin-top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
}
  
.signin-check-container input:checked ~ .signin-check-checkmark {
    background-color: rgb(219, 88, 36);
}
  
.signin-check-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.signin-check-container input:checked ~ .signin-check-checkmark:after {
    display: block;
}
  
.signin-check-container .signin-check-checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* CHECKBOX */

.signin-content button {
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    color: white;
    background-color: rgb(219, 88, 36);
    border-radius: 3px;
    border: none;
    padding: 12px 19px;
}
  
.signin-content button:hover {
    background-color: rgb(163, 64, 25);
    transition: 0.3s;
}

.signin-foot {
    margin-top: 30px;
}

.signin-foot p{
    font-size: 17px;
}


.signin-foot a {
    color: rgb(219, 88, 36);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.signin-foot a:hover {
    color: rgb(163, 64, 25);
    transition: 0.3s;
}

.signin-join {
    margin-top: 40px;
}

.signin-join p {
    margin: 0;
    font-size: 17px;
}

.signin-join button {
    margin: 10px 0;
    color: rgb(219, 88, 36);
    background-color: black;
    border: 1px solid rgb(219, 88, 36);
}

.signin-join button:hover {
    color: rgb(163, 64, 25);
    border: 1px solid rgb(163, 64, 25);
    background-color: black;
}

.signin-footmark {
    margin: 45px 0 30px;
    font-size: 12px;
    color: rgb(173, 173, 173);
}

.signin-footmark i {
    font-size: 16px;
}

@media (max-width: 768px) {
    .signin {
        display: grid;
        grid-template-columns: 60% 40%;
    }
    
    .signin-right {
        display: none;   
    }

    .signin-left {
        padding-top: 30px;
        padding-left: 20px;
    }

    .signin-content {
        padding-top: 10px;
    }

    .signin-content h1 {
        font-size: 28px;
    }

    .signin-content button {
        margin-top: 10px;
        padding: 15px 20px;
    }
    
    .signin-foot {
        margin-top: 10px;
    }

    .signin-footmark {
        margin: 25px 0;
    }
}
